.content {
    margin: auto;
}

.content form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
}

.content div {
    text-align: center;
    width: 300px;
}

.content img {
    width: 60%;
}

.content label {
    margin-left: 3px;
    margin-bottom: 5px;
    font-size: 15px;    
}

.content input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content button {
    margin-top: 20px;
    background-color: white;
    border: 2px solid #062a75;
    color: #062a75;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;    
    font-family: var(--others);
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.content button:hover {
    background-color: #062a75;
    color: white;
    transition: ease;
}

.warn {
    background-color: var(--white);
    border-radius: 7px;
}

.warn .pwarn_negative {
    font-size: 14px;
    padding-top: 5px;
    color: rgb(239, 50, 50);;
}

.warn .pwarn_positive {
    font-size: 14px;
    padding: 5px;
    color: rgb(45, 152, 56);;
}

/* loading circle for the register */

.loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin:10px auto;
    position: relative;
    color: var(--blue);
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
}
25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
}
50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
}
75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
}
100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
}
}