.section {
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section section {
    display: flex;
    align-items: center;
    justify-content: center;
}