@media screen and (max-width: 1000px) {
    .section {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }

    .section .texts {
        margin: 0;
        margin-bottom: 40px;
    }

    .section .texts h1 {
        max-width: 500px;
        font-size: 90px;
        color: var(--blue);
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .section .texts p {
        text-align: center;
    }

    .section .image_content {
        width: auto;
        max-width: 60%;
    }

}

@media screen and (max-width: 400px) {
    .section .texts h1 {
        font-size: 80px;
    }
}

.texts {
    margin-left: 10%;
    width: 100%;
    /* border: 2px solid red; */
    padding: 10px;
}

.texts h1 {
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 18vh;
    letter-spacing: -0.1cm;
    line-height: 80%;
    color: var(--blue);
}

.texts p {
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
}

.image_content {
    margin: 0 60px 0 60px;
    position: relative;
    margin-right: 10%;
    width: 100%;
    padding: 20px;
    /* border: 2px solid black; */
    text-align: center;
}

.image_content img {
    text-align: center;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.image_content .shadow {
    position: absolute;
    height: 80px;
    width: 120%;
    background-color: #d9d9d9;
    border-radius: 50%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
