.content {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 1;
    width: 100%;
    height: auto;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.content .intern_content {
    background-color: var(--blue);
    margin: 10% auto;
    padding: 10px;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 250px;
    min-width: 230px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.content .intern_content h4 {
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
}

.content .intern_content .control_btns {
    text-align: center;
}

.content .intern_content .control_btns button {
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.content .intern_content .control_btns .ok_btn {
    background-color: white;
    border-color: white;
    color: var(--blue);
}

.content .intern_content .control_btns .cancel_btn {
    background-color: var(--blue);
    border: 2px solid white;
    color: white;
    font-weight: 700;
}