@media screen and (max-width: 400px) {
    .header a {
        font-size: 14px;
    }
}

.header {
    background-color: var(--white);
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid var(--blue);
}

.header a {
    color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.header a:hover {
    border-bottom: 3px solid var(--blue);
    transition:40ms;
}

.about {
    font-weight: bolder;
    padding: 15px;
    border-radius: 7px;
    transition: background 0.5s ease;
}

.about:hover {
    background-color: var(--blue);
    border-radius: 7px;
    color: var(--white);
    transition:40ms;
}